body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width:  1440px;
    margin:  0 auto;
}

nav {
    background: #333;
}

.nav-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:  100px;
}

.menu {
    display: flex;
}

.menu li {
    list-style: none;
    margin-left: 3rem;
}

a {
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 360px) {

    .logo {
        margin-bottom: 2rem;
    }

    .nav-con {
        padding: 3rem 0;
        flex-direction: column;
        height: auto;
    }

    .menu {
        text-align: center;
        flex-direction: column;
    }

    .menu li {
        padding: 2rem 0;
    }

    .menu li:hover {
        background: #6ac67f;
    }
}

